<% if @settings.any? %>
  <%= render 'settings' %>
<% else %>
  <p>
    <strong>
      <%= t('.empty_set') %>
      <%= t('.create_first', :link => t('new', :scope => 'refinery.admin.settings.actions')) %>
    </strong>
  </p>
<% end %>
